modules = ["nodejs-20", "web", "go-1.21", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.mjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_websocket:1.0.0", "javascript_openai_ai_integrations:2.0.0", "javascript_database:1.0.0", "stripe:1.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BFlZgIVPFZoNVrDnwFO7gKMwkomOHRYaUCZt8GfDe7eg0Px529qmyNvVWzozw_st7-QpT899IDv9pvroa5WreD4"
VAPID_PRIVATE_KEY = "AyFgxI_Fuuz4jL8orga5h9VYYJGID0v57lsSU-mBzz8"
